<!DOCTYPE html>
<html>
  <head>
    <title>CardBestHover</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <section>
      <div class="containe">
        <div class="card">
          <div class="imgBx">
            <%= image_tag "shoes1.png" %>
            <h2>Runners</h2>
          </div>
          <div class="content">
            <div class="size">
              <h3>Size :</h3>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>10</span>
            </div>
            <div class="color">
              <h3>Color :</h3>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <a href="#">Buy Now</a>
          </div>
        </div>
        <div class="card">
          <div class="imgBx">
            <%= image_tag "gun.png" %>
            <h2>Banana</h2>
          </div>
          <div class="content">
            <div class="size">
              <h3>Size :</h3>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>10</span>
            </div>
            <div class="color">
              <h3>Color :</h3>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <a href="#">Buy Now</a>
          </div>
        </div>
        <div class="card">
          <div class="imgBx">
            <%= image_tag "shoes2.png" %>
            <h2>Fashionamo</h2>
          </div>
          <div class="content">
            <div class="size">
              <h3>Size :</h3>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>10</span>
            </div>
            <div class="color">
              <h3>Color :</h3>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <a href="#">Buy Now</a>
          </div>
        </div>
      </div>
    </section>
    <%= yield %>
  </body>
  </html>



